.loginContainer{
    padding: 40px 80px 0px 80px;
    position: absolute;
}

.loginCard{
    width: 70%;
    height: 500px;
    margin-left: 120px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.resetPassword_topic{
    font-size: 25px;
    color: gray;
}

.formStyle{
    padding: 15px;
}
.login-image1{
    width: 65%;
    height: 100%;
    margin-left: -12px;
}

.login-image2{
    margin-top: -590px;
    margin-left: 128px;
    width: 83%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    text-decoration: underline;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link:focus{
    color: #595959;
    background: none;

}


.rowStyle{
    box-shadow: 0 1px 9px rgba(68, 68, 68, 0.15), 0 10px 7px rgba(59, 59, 59, 0.13);
    margin: 63px;
}

.reset_saveBtn{
    width: 355px;
    margin-top: 20px;

}
.sign_again_link{
   margin-top: 15px;
}




