.cStyle{
    margin-left: 170px;
}

.i_r_form-group {
    margin-bottom: 2rem;

}
.i_r_form-text {
    margin-top: -0.3rem;
    font-style: italic;
}
.i_r_space {
    margin-top: 8px;
}

.i_r_studentRegCard{
    width: 89%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.i_r_card-body{
    padding: 2.25rem;
}


.i_r_h2{
    margin-bottom: 30px;

}

.nextBtn {
    padding-left: 48%;
    padding-right: 48%;
}

.fieldSpace{
    margin-bottom: 10px;
}

.otherField{
    width: 300px;
}

.backBtn{
    margin-right: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.nextBtn2{
    padding-left: 50px;
    padding-right: 50px;
}

.space1{
    margin-bottom: 30px;
}

.head2{
    background-color: burlywood;
    padding: 23px 5px 0px 35px;
}

.form2{
    margin-top: 40px;
}
