.form1h1{
    position: absolute;
    margin-left: 75px;
    color: #504e4e;

    margin-top: 65px;
}
.ir1_image {
    margin-left: 776px;

}

.ir_col{
    margin-left: 75px;
}

.ir_rowStyle {
    margin-top: -393px;
}