.csImage{
    width: 800px;
    margin-left: 40px;
    margin-top: 30px;
}

.cs_Style{
    margin-left: 120px;
    margin-right: 50px;
}

.cshead2{
    height: 93px;
    text-align: center;
    padding: 23px 5px 0px 35px;

    color: #504e4e;
}

.cs_form-group {
    margin-bottom: 2rem;

}
.cs_form-text {
    margin-top: -0.3rem;
    font-style: italic;
}
.cs_space {
    margin-top: 8px;
}

.cs_studentRegCard{
    width: 100%;
    box-shadow: 0 1px 9px rgba(68, 68, 68, 0.15), 0 10px 7px rgba(59, 59, 59, 0.13);

}
.cs_card-body{
    padding: 2.25rem;
}

.skewBtn {
    width: 191px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 18px;

}
.skewBtn:hover {
    border: none;
    color: white;
    font-size: 20px;
    transform: scale(1.1);
}


.purple {
    border: 2px solid #752283;
    color: #752283;
}
.purple:hover {
    background-color: #752283;
    transition: all 0.3s ease-in-out;
}


