.loginContainer{
    padding: 40px 80px 0px 80px;
    position: absolute;
}

.loginCard{
    width: 70%;
    height: 500px;
    margin: 20px;
}

.signIn-Up_font{
    font-size: 25px;
    color: gray;
}

.formStyle{
    padding: 15px;
}
.login-image1{
    width: 65%;
    height: 100%;
    margin-left: -12px;
}

.login-image2{
    margin-top: -590px;
    margin-left: 128px;
    width: 83%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    text-decoration: underline;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link:focus{
    color: gray;
    background: none;

}


.rowStyle{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-submitBtn{
    width: 404px;
    margin-top: 20px;
}

.forgotBtn{
    margin-top: 15px;
}
