.sr_headImage{
    margin-top: -854px;

    margin-left: 820px;
}

.sr_HeadTopic{
    position: absolute;
    margin-top: -596px;
    margin-left: 200px;
}

.sr_HeadTopicStyle{
    font-family: cursive;
}

.sr_Head_para_TopicStyle{
    font-family: cursive;
    width: 40%;
}

.cStyle{
    margin-left: 90px;
    margin-right: 50px;
}

.shead2{
    font-family: unset;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    color: #5c5959;
}

.s_r_form-group {
    margin-bottom: 2.5rem;

}
.s_r_form-text {
    margin-top: -0.3rem;
    font-style: italic;
}
.s_r_space {
    margin-top: 8px;
}

.s_r_studentRegCard{
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.s_r_card-body{
    padding: 2.25rem;
}


.s_r_h2{
    margin-bottom: 30px;

}
